[init]
    defaultBranch = master

[core]
    autocrlf = input
    editor = vim

[color]
    ui = auto

[user]
    name = Martin Lukas
    email = martinlukasgit@protonmail.com

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[alias]
    st = status
    ss = st -sb
    lg = log --oneline --graph --decorate --all
    d = diff --unified=10 HEAD
    a = add -A
    c = commit
    ac = !git a && git c
    undo = reset --soft HEAD~1
    wipe = reset --hard HEAD
    ri = rebase -i
    rc = rebase --continue
    pu = push -u origin
    p = push origin
    pf = p --force-with-lease
    f = fetch
    pl = pull --rebase

