" ----- Plugins ----- "
packadd matchit


" ----- Mappings ----- "
noremap <Up> <NOP>
noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>
inoremap <Up> <NOP>
inoremap <Down> <NOP>
inoremap <Left> <NOP>
inoremap <Right> <NOP>

inoremap jk <Esc>
noremap <C-L> :nohlsearch<CR><C-L>
let mapleader = "\<Space>"
map <Leader>a <Action>(Vcs.ShowHistoryForBlock)
map <Leader>e <Action>(RecentFiles)
map <Leader>j <Action>(QuickJavaDoc)
map <Leader>x <Action>(SelectInProjectView)
map <Leader>r <Action>(Run)
map <Leader>d <Action>(Debug)


" ----- Settings ----- "
set relativenumber
set hlsearch
set incsearch
set ignorecase
set colorcolumn=100
set scrolloff=5


" If the file was opened before, jump to the last viewed/edited line in it.
if has("autocmd")
  autocmd BufReadPost *
      \ if line("'\"") > 0 && line("'\"") <= line("$") |
      \     exe "normal! g`\"" |
      \ endif
endif

